{% extends "settings/layout.html" %}
{% block adminbody %}
  <h2>Here are the groups</h2>
<font color="red">{{msg}}</font>

<form method="POST" action="/groups/state">
<div>
    <div style="float:left;">
      <input type="submit" name="method" value="Delete"/>
      <input type="submit" name="method" value="Disable"/>
      <input type="submit" name="method" value="Enable"/>
    </div>
    <div style="float:right;">
      
	  <input type="button" name="method" value="Associate User to Group" onclick="location.href='/groups/user_group'"/>
    </div>
  </div>
<br>


<table border="1" class="list">
    <tr>
        
         <td>ID</td>
         <td>Project Name</td>
         <td>Name</td>
         <td>Rights</td>
         <td> User </td>
         <td></td>
    </tr>
    
    
    
     {% for g in groups %}
        {% if g.is_active == true %}
                <tr>
            {% else %}
                <tr class="notactive">
            {% endif %}
            
         <td>{{g.id}}</td>
         <td>{{g.project_name}}</td>
         <td>{{g.name}}</td>
         
         <td>
			   {% if g.is_admin == true %}
					Admin
			   {% elif g.is_view == true %}
					View only
			   {% else %}
					Edit
			   {% endif %}	
			
		 </td>
         
         <td>{{g.username}}</td>
         <td><input type="checkbox" name="group_id" value="{{g.id}}"> </td>
    </tr>
     {% endfor %}
</table>
</form>

<hr>
<div>
<form action="/groups/add" method="POST">
<table border="1">    

    <tr>    
    <td>Please select project </td>
            <td><select id="project" name = "project">                  
                 {% for p in projects %}
              <option value="{{p.id}}">{{p.name}} :: {{p.code}}</option>
              {% endfor %}
            </select></td>
    </tr>
    
    <tr> 
    <td>Please select role </td>
            <td><select id="role" name = "role">              
              <option value="2">Admins</option>
              <option value="1">Edit</option>
              <option value="0">View Only</option>
            </select></td>
    </tr>
    

    
    <tr>
        <td></td>
        <td><input type="submit" value="Add Group"/></td>
    </tr>



</table>
</div>
</form>

<hr>
<br>
<a href="/groups/user_group">Associate user with group</a> <br>
<a href="/projects/add">Add Project</a> <br>
<a href="/groups/list">List Groups</a> <br>
<a href="/groups/add">Add Groups</a>
{% endblock %}