{% extends "settings/layout.html" %}
{% block adminbody %}

  <h2>Here are the locations</h2>
<div class="msg">{{msg}}</div>
{% if not locations %}
 <div class="msg"> You were at the last location </div>
 {% else %}
   
<form method="POST" action="/location/state">
<div>
    <div style="float:left;">
      
      <input type="submit" name="method" value="Disable"/>
      <input type="submit" name="method" value="Enable"/>
    </div>
    <div style="float:right;">

            <a href="/location/{{locations[0].parent_id - 1}}/list"> Back </a>
            
     
    </div>
  </div>
<br>


<table border="1" class="list">
<tr>
    <th>ID</th>
    <th>parent_id</th>
    <th>parent_row</th>
    <th>parent_col</th>
    <th>Project Name</th>
    <th>My Row</th>
    <th>My Col</th>
    <th>Name</th>
    <th>Notes</th>
    <th>Forward</th>
    <th></th>
</tr>

{% for l in locations %}

    {% if l.is_active == true %}
            <tr>
        {% else %}
            <tr class="notactive">
        {% endif %}

    <td>{{l.id}}</td>
    <td>{{l.parent_id}}</td>
    <td>{{l.parent_row}}</td>
    <td>{{l.parent_col}}</td>
    <td>{{l.project_name}}</td>
    <td>{{l.my_rows}}</td>
    <td>{{l.my_cols}}</td>
    <td>{{l.name}}</td>
    <td>{{l.notes}}</td>
    <td><a href="/location/{{locations[0].id}}/list"> Forward </a></td>
    <td><input type="checkbox" name="location_id" value="{{l.id}}"> </td>
</tr>

{% endfor %}

</table>
<input type="hidden" name="parent_id" value = {{locations[0].parent_id}}>
</form>
{% endif %}
{% endblock %}