{% extends "settings/layout.html" %}
{% block adminbody %}

  <h2>Here are the locations</h2>
<div class="msg">{{msg}}</div>
{% if not locations %}
    <div class="msg"> You were at the last location </div>
{% else %}


<form method="POST" action="/location/state">
<div>
    <div style="float:left;">
      
      <input type="submit" name="method" value="Disable"/>
      <input type="submit" name="method" value="Enable"/>
    </div>
    <div style="float:right;">
            {% if locations[0].parent_id > 0 %}
            <a href="/location/{{locations[0].parent_id - 1}}/list"> Back </a>
            {% endif %}
     
    </div>
  </div>
<br>

<table id="loc_table" class="loc_table" border=1>   

    {% for r in range(1,dim.row+1) %}
       <tr id="r_{{r}}">
            {% for c in range(1,dim.col+1) %}
                {% set vars = {'con': 0}  %}
                {% for l in locations%}
                    {% if l.parent_row == r and  l.parent_col == c %}
                        <td id="c_{{c}}">
                            <div class="cell">{{l.name}}</div>
                            <div class="cell_forward"><a href="/location/{{l.id}}/list"> Forward </a></div>
                        </td>
                        {% if vars.update({'con': 1}) %}{%endif%}
                    {% endif %}
                {% endfor %}
                
                {% if vars.con == 0%}
                <td id="c_{{c}}"> <div class="cell"> ADD </div></td>
                {% endif %}
            {% endfor %}
       </tr>
    
    {% endfor %}

</table>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"> </script>
<script>
    $(document).ready(function() {

        $('#loc_table td').click(function() {
            var cellText = $(this).html();
            var cid = this.id;  
            var tid = $(this).closest('tr').attr('id'); 
            //alert(cid+"row "+ tid);
            
        });

});
    
</script>

{% endif %}

{% endblock %}