<!doctype html>
<html>
<head>
<title>CBP-LIMS{% if g.project %} :: {{g.project.name}} {% endif %}</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="topbar">
  <b><a href="/">CBP-LIMS</a></b>
  <div class="right">
    {% if not g.user %}
      <a href="/signin">sign in</a>
    {% else %}
      {% if g.project %}
        <div style="display:inline-block;">
          <div style="float:left">{{ g.project.name }}</div>
          {% if g.allow_switch_project %}
          <div style="float:right; margin-top:4px;">
            &nbsp;<a href="/projects/switch" title="Switch active project" style="text-decoration: none;">&#x25BE;</a>
          </div>
          {% endif %}
        </div>
           &nbsp; &nbsp;
      {% endif %}
      <div style="display:inline-block; float:right;">
      {{ g.user.username }} &nbsp; &nbsp; 
      <a href="/settings" title="Change project settings">settings</a>&nbsp; &nbsp; 
      <a href="/signout">sign out</a>
      </div>
    {% endif %}
  </div>
</div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
<div class="body">
  {% block body %}{% endblock %}
</div>
<div class="footer">
{% if g.debug %}
uptime: {{g.uptime}}
<br/><a href="/log" target="_new">view log</a>
{% if g.user.is_global_admin %}
<br/><a href="/resetdb">reset db (wipe)</a>
<br/><a href="/restart">force app restart</a>
<br/><a href="/dbconsole" target="_new">open db console</a>
{% endif %}
{% endif %}
</div>
</body>
</html>
