<!doctype html>
<html>
<head>
<title>CBP-LIMS{% if session.pid %} :: {{session.project}} {% endif %}</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="topbar">
  <b><a href="/">CBP-LIMS</a></b>
  <div class="right">
    {% if not session.uid %}
      <a href="/signin">sign in</a>
    {% else %}
      {% if session.pid %}
      {{ session.project }} <a href="/projects/switch" title="Switch active project">&lt;&middot;&middot;&gt;</a>&nbsp; &nbsp; 
      {% endif %}
      {{ session.username }} &nbsp; &nbsp; 
      <a href="/settings" title="Change project settings">settings</a>&nbsp; &nbsp; 
      <a href="/signout">sign out</a>
    {% endif %}
  </div>
</div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
<div class="body">
  {% block body %}{% endblock %}
</div>
<hr/>
uptime: {{g.uptime}}
<br/><a href="/resetdb">reset db</a>
</body>
</html>