{% extends "settings/layout.html" %}
{% block adminbody %}

{% if username %}
{{username}} added do you want to add another user? <br>
{% endif %}



Add user:   <hr>

<form action = "/settings/global/user_add" method="post">

 username: <input type="text" id="username" name="username"> </input> <br>
 Full Name: <input type="text" id="full_name" name="full_name"> </input> <br>

 password (no validation yet): <input type="password" id="pwd" name="pwd"> </input><br>
 <input type="checkbox" id="is_admin" name="is_admin" value="True"> Is this an admin?<br>

<hr>
Choose Group (s)<br>

    <select id="groups" name = "groups" multiple>
        {% for g in groups %}
            <option value="{{g.id}}">{{g.name}}</option>
        {% endfor %}
    </select>
<br>
 <input type="submit" value="Submit">
</form>



{% endblock %}
