{% extends "settings/layout.html" %}
{% block adminbody %}




edit  user:  <b> {{info.username}}</b> <hr>

<form action = "/settings/global/{{info.id}}/user_edit" method="post">

 username: {{info.username}} <br>
 Full Name: <input type="text" id="full_name" name="full_name" value="{{info.fullname}} "> </input> <br>
 
 Old password (admin can leave blank): <input type="password" id="pwd_o" name="pwd_o"> </input><br>
 New password: <input type="password" id="pwd_n" name="pwd_n"> </input><br>
 <input type="checkbox" id="is_admin" name="is_admin" value="True"> Is this an admin?<br>

<hr>

 <input type="submit" value="Submit">
</form>



{% endblock %}