{% extends "settings/layout.html" %}
{% block adminbody %}

  <div class="title">Users</div>


  <table class="list">
    <tr>
        <th>&nbsp;</td>
        <th>Username</th>
        <th>Full name</th>
        <th>Projects</th>
        <th>Global admin</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
  {% for u in users %}
  <tr>
    <td><input type="checkbox"></td>
    <td><a href="/settings/global/users/{{u.id}}">{{u.username}}</a></td>
    <td>{{u.fullname}}</td>
    <td>&nbsp;</td> <!-- TODO: fill this out -->
    <td>{{u.is_global_admin}}</td>
    <td><a href="/settings/global/{{u.id}}/user_edit"> edit</a></td>
    <td>
      <form method="POST" action="/settings/global/users/{{u.id}}/delete">
      <button type="submit" class="submitLink">  Delete {{u.username}}</button>
      </form>
    </td>
  </tr>
  {% endfor %}
  </table>
  <hr>
<br> <a href="/settings/global/user_add">Add Users</a>
<br> <a href="/groups/user_group">Associate user with a group</a>
{% endblock %}
