{% extends "settings/layout.html" %}
{% block adminbody %}

  <div class="title">Users</div>

  <table class="list">
    <tr>
        <th>&nbsp;</td>
        <th>Email</th>
        <th>Username</th>
        <th>Full name</th>
        <th>Projects</th>
        <th>Global admin</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
  {% for u in users %}
  <tr>
    <td><input type="checkbox"></td>
    <td>{{u.email}}</td>
    <td><a href="/settings/global/users/{{u.id}}">{{u.username}}</a></td>
    <td>{{u.fullname}}</td>
    <td>&nbsp;</td> <!-- TODO: fill this out -->
    <td>{{u.is_global_admin}}</td>
    <td></td>
    <td><a href="/settings/global/user_del?id={{u.id}}"> delete</a></td>
  </tr>
  {% endfor %}
  </table>

{% endblock %}
