{% extends "settings/layout.html" %}
{% block adminbody %}

  <h2>Adding new Subject Type</h2>
 <br>
  
 

<hr>
  <form action="/subject_types/add" method="POST">
    <table>
        <tr>
            <td> Name </td> <td> <input type="text" name="name" id="name"></td>
        </tr>
        
        <tr><td>Choose a Project</td>
      
        <td>
        <select name = "project">  
             {% for p in projects %}
          <option value="{{p.id}}">
          {{p.name}} :: {{p.code}}
          </option>
          {% endfor %}
        </select>
        </td></tr>
      
        
        <tr>
            <td>Fields</td>
            <td><textarea rows="4" cols="50" name = "fields">   </textarea> </td>
        </tr>
        <tr><td>&nbsp; </td><td><br><input type="submit" value="Add Subject Types"/></td></tr>
    </table>
    
    


  
{% endblock %}