{% extends "user_content.html" %}
{% block content_body %}

  <h2>Editing Subject Types: {{subject_types.name}}</h2>
 <br>
  
 

<hr>
  <form action="/subject_types/{{subject_types.id}}/edit" method="POST">
    <table>
        <tr>
            <td> Name </td> <td> <input type="text" name="name" id="name" value="{{subject_types.name}}"></td>
        </tr>
        
        <tr><td>Choose a Project</td>
      
        <td>
        <select name = "project">  
             {% for p in projects %}
          <option value="{{p.id}}">
          {{p.name}} :: {{p.code}}
          </option>
          {% endfor %}
        </select>
        </td></tr>
      
      <tr>
            <td>Description</td>
            <td><textarea rows="4" cols="50" name = "description">{{subject_types.description}}</textarea> </td>
        </tr>
      
      
      <tr>
          <td> Extra </td>
          <td>
              {% if subject_types.data %}
              
              <table id="extra_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
              <thead><tr><th>Name</th><th>Description</th><th>Type</th><th>Selection Options</th></tr></thead>
              {% set count = 1 %}
              {% for i in subject_types.data%}
              <tr>  
              <td><input type="hidden" value="{{i}}" class="textb" name="ogdata_{{count}}">
              
              <input type="text" value="{{subject_types.data[i].name}}" class="textb" name="ogname_{{count}}">
              <span class="hide-text">{{subject_types.data[i].name}}</span>
              </td>
              <td><input type="text" value="{{subject_types.data[i].description}}" class="textb" name="ogdescription_{{count}}">
              <span class="hide-text">{{subject_types.data[i].description}}</span>
              </td>
              
              <td>{{subject_types.data[i].type}}  <input type="hidden" value="{{subject_types.data[i].type}}" name="ogtype_{{count}}">
              
              </td>
              <td>
                  {% if subject_types.data[i].enum %}
                <input type="text" value="{{subject_types.data[i].enum}}" class="textb" name="ogenum_{{count}}">
                   <span class="hide-texts">{{subject_types.data[i].enum}}</span>
                  {% else %}
                  <input type="hidden" value="{{subject_types.data[i].enum}}" class="textb" name="ogenum_{{count}}">
                  {% endif %}
              </td>
              
              </tr>
              {% set count = count+1 %}
              {% endfor %}
              </table>
              {% endif %}
          </td>
        </tr>
      
      <tr>
          <td> Add Extra Data</td>
          <td>  <input type="number" name="data" id="data"> <button type="button" onclick="loadDoc()">Add</button> </td>
        </tr>
        
        <tr>
          <td> </td>
          <td>  <div id="extra_here"></div> </td>
        </tr>
      
        <tr><td>&nbsp; </td><td><br><input type="submit" value="Update Subject Types"/></td></tr>
    </table>
    
    
<script>
function loadDoc() {
      
      var data_pt = document.getElementById('data').value;
      var types = "<option value = \"file\">file</option>"+
                  "<option value = \"text\" selected>text</option>"+
                  "<option value = \"number\">number</option>"+
                  "<option value = \"binary\">Binary</option>" +
                  "<option value = \"enum\">Selection</option>" + 
                  "<option value = \"date_full\">Date (dd-mm-yyyy)</option>"+
                  "<option value = \"date_year\">Year only</option>"

      var extra = "<table> <tr><td>Name</td><td>Description</td><td>Type</td><td>Selection</td></tr>"
     
          for (i = 1; i <= data_pt; i++) {
           var temp = "<tr>" +
                      "<td><input type=\"text\" name=\"data_"+i+"\"" +" ></td> " +
                      "<td><input type=\"text\" name=\"description_"+i+"\"" +" ></td> " + 
                       "<td><select"+   " name=\"type_"+i+"\""+ ">"+types+"</select></td>"+
                       "<td><input type=\"text\" name=\"enum_"+i+"\"" +" ></td> " +
                       "<tr>"

           extra +=  temp;
             }


      extra += "</table>"
      document.getElementById("extra_here").innerHTML = extra;
    

}
</script>

<script>
$(document).ready(function() {

$('#extra_table').dataTable( {
  "searching": false,

"paging": false,
"bLengthChange": false,
"bInfo": false,
"bAutoWidth": false
} );


   
} );
</script>


  
{% endblock %}