{% extends "layout.html" %}
{% block body %}
  <h2>Here are the projects</h2>

<font color="red">{{msg}}</font>

<table border = "1">
	<tr>
		<td></td>
		<td>ID</td>
		<td>Name</td>
		<td>Parent</td>
		<td>Code</td>
		<td>Change order</td>
		<td>Change State</td>
		<td>Edit</td>
	</tr>
    {% for p in parents  %}
	<tr>
	<td>	
	{% for n in range(p[0]) %}
	    <span class="projectIndent"> &nbsp;</span>
	{% endfor %}
	</td>
	<td>{{p[1].id}}</td>
	<td><a href="/projects/{{p[1].id}}/view">{{p[1].name}}</a></td>
	<td>{{p[1].parent_id}}</td>
	<td>{{p[1].code}}</td>
		{% if p[0] > 1 %}
		<td>
            <form method="POST" action="/projects/{{p[1].parent_id}}/promote">
                <input type="hidden" id="id" name="id" value={{p[1].id}}>  
                <button type="submit" class="submitLink">promote</button> 
            </form>
        </td>
	    {% else %}    
			<td></td>
			{% endif %} 
		  <td>
            <form method="POST" action="/projects/{{p[1].id}}/changeState">
			   {% if p[1].is_active == true %}
                <button type="submit" class="submitLink" name="state" id="state" value="FALSE">dis-activate</button>
				{% else %}
				<button type="submit" class="submitLink" name="state" id="state" value="TRUE">re-activate</button>
				{% endif %}
            </form>
        </td>
		  
		<td>
            <form method="POST" action="/projects/{{p[1].id}}/edit">
				<input type="hidden" id="name" name="name" value={{p[1].name}}>
				<input type="hidden" id="do" name="do" value=0>
                <button type="submit" class="submitLink" name="code" id="code" value="{{p[1].code}}">edit</button>
            </form>
        </td>
	
	</tr>
    {% endfor %}
	
</table>
<hr>
<br>
<a href="/projects/add">Add Project</a> <br>
<a href="/groups/list">List Groups</a> <br>
<a href="/groups/add">Add Groups</a>

{% endblock %}