{% extends "settings/layout.html" %}
{% block adminbody %}
  <h2>Here are the projects</h2>

<div class="msg">{{msg}}</div>

<form method="POST" action="/projects/state">
<div>
    <div style="float:left;">
      <input type="submit" name="method" value="Delete"/>
      <input type="submit" name="method" value="Disable"/>
      <input type="submit" name="method" value="Enable"/>
    </div>
    <div style="float:right;">
      <input type="button" name="method" value="Add Project" onclick="location.href='/projects/add'"/>
    </div>
  </div>
<br>


<table border = "1" class="list">
	<tr>
		<td></td>
		<td>ID</td>
		<td>Name</td>
		<td>Parent</td>
		<td>Code</td>
		<td>Edit</td>
		<td></td>
	</tr>
    {% for p in parents  %}
	{% if p[1].is_active == true %}
		<tr>
	{% else %}
	<tr class="notactive">
	{% endif %}

	<td>	
	{% for n in range(p[0]) %}
	    <span class="projectIndent"> &nbsp;</span>
	{% endfor %}
	</td>
	<td>{{p[1].id}}</td>
	<td><a href="/projects/{{p[1].id}}/view">{{p[1].name}}</a></td>
	<td>{{p[1].parent_id}}</td>
	<td>{{p[1].code}}</td> 
		<td>
		<a href="/projects/{{p[1].id}}/edit?code={{p[1].code}}&name={{p[1].name}}"> edit </a>
        </td>
		
	<td><input type="checkbox" name="project_ids" value="{{p[1].id}}"> </td>
	</tr>
    {% endfor %}
	
</table>
</form>
<hr>
<br>
<a href="/groups/user_group">Associate user with group</a> <br>
<a href="/projects/add">Add Project</a> <br>
<a href="/groups/list">List Groups</a> <br>
<a href="/groups/add">Add Groups</a>

{% endblock %}