{% extends "settings/layout.html" %}
{% block adminbody %}
  <h2>Project {{info.name}}</h2>

<b> Parent: </b> {{info.parent_name}} <br>
<b> Code:   </b> {{info.code}} <br>
<b> Status:   </b>
<form method="POST" action="/projects/{{info.id}}/changeState">
			   {% if info.is_active == true %}
                Active <button type="submit" class="submitLink" name="state" id="state" value="FALSE">dis-activate</button>
				{% else %}
				Not Active <button type="submit" class="submitLink" name="state" id="state" value="TRUE">re-activate</button>
				{% endif %}
            </form>


<a href="/projects/{{info.id}}/edit?code={{info.code}}&name={{info.name}}"> Edit Group </a>
<hr>
<br>
 
 Groups associated with project
 <br> <br>
   <form method="POST" action="/groups/state">
<div>
    <div style="float:left;">
      <input type="submit" name="method" value="Delete"/>
      <input type="submit" name="method" value="Disable"/>
      <input type="submit" name="method" value="Enable"/>
    </div>
    <div style="float:right;">
      <input type="button" name="method" value="Add Group" onclick="location.href='/groups/add'"/>
	  <input type="button" name="method" value="Associate User to Group" onclick="location.href='/groups/user_group'"/>
    </div>
  </div>
<br>
<table border="1" class="list">
    <tr>
        
         <td>ID</td>
         <td>Project Name</td>
         <td>Name</td>
		 <td>Edit</td>
         <td>Rights</td>
         
         <td></td>
    </tr>
    
    
    
     {% for g in groups %}
    
    	{% if g.is_active == true %}
            <tr>
        {% else %}
            <tr class="notactive">
        {% endif %}
    
        
         <td>{{g.id}}</td>
         <td>{{g.project_name}}   </td>
         
		 <td><a href="/groups/{{g.id}}/view"> {{g.name}} </a> </td>
		 
		 {% if g.is_active == true %}
		 <td><a href="/groups/{{g.id}}/edit">edit</a></td>
         {% else %}
		 <td></td>
		 {% endif %}
		 
		 <td>
			   {% if g.is_admin == true %}
					Admin
			   {% elif g.is_view == true %}
					View only
			   {% else %}
					Edit
			   {% endif %}	
			
		 </td>
         
		 
         <td><input type="checkbox" name="group_id" value="{{g.id}}"> </td>
    </tr>
     {% endfor %}
</table>
</form>
    
<hr>
<a href="/groups/user_group">Associate user with group</a> <br>
<a href="/projects/list">List Project</a> <br>   
<a href="/projects/add">Add Project</a> <br>
<a href="/groups/list">List Groups</a> <br>
<a href="/groups/add">Add Groups</a>

{% endblock %}