{% extends "settings/layout.html" %}
{% block adminbody %}

  <h2>View Subject {{subject.name}} </h2>
<div class="msg">{{msg}}</div>

<br>

<b>ID:</b> {{subject.id}} <br>
<b>Project:</b> {{subject.project_name}} <br>
<b>Notes:</b> {{subject.notes}} <br>

<form method="POST" action="/subjects/{{subject.id}}/delete_diagnosis">
<hr><b>Diagnosis</b> <br>

    <div style="float:left;">
      <input type="submit" name="method" value="Delete"/>
    </div>
    
    <div style="float:right;">
      <input type="button" name="method" value="Add Diagnosis" onclick="location.href='/subjects/{{subject.id}}/add_diagnosis'"/>
    </div>
    
<table border="0" class="list">
{% for d in diagnoses %}
<tr bgcolor="#C3C8C9"><td>{{d.diagnosis_name}}</td> <td><input type="checkbox" name="diagnosis_ids" value="{{d.diagnosis_id}}"> </td> </tr>
<tr><td>Is this primary?</td><td>{{d.diagnosis_is_primary}} </td></tr>
<tr><td>Days from primary:</td><td>{{d.diagnosis_days_from_primary}} </td></tr>
<tr><td>Diagnosis recorded by:</td> <td>{{d.diagnosis_recorded_by}} </td></tr>
<tr><td>Diagnosis recorded date:</td> <td>{{d.diagnosis_recorded_date}} </td></tr>

{% endfor %}


</table>

</form>


<hr><b>Research Studies</b><br>
<form method="POST" action="/subjects/{{subject.id}}/delete_study">
    <div style="float:left;">
      <input type="submit" name="method" value="Delete"/>
    </div>
    
    <div style="float:right;">
      <input type="button" name="method" value="Add Study" onclick="location.href='/subjects/{{subject.id}}/add_study'"/>
    </div>

<table border="0" class="list">
{% for ss in subject_study %}
<tr bgcolor="#A8A0A1"><td>{{ss.research_study_name}} </b></td> <td><input type="checkbox" name="study_ids" value="{{ss.research_study_study_id}}"> </td> </tr>
<tr><td>Research Study recorded by:</td><td> {{ss.research_study_username}} </td></tr>
<tr><td>Research Study date:</td><td> {{ss.research_study_date}} </td></tr>
{% endfor %}
</table>

<table>
<tr bgcolor="#80aaff">
    <td>Extra info</td><td></td></tr>
    <tr>
    <td>
        <div id= "og">
            {% if subject.data %}
              {% for i in subject.data%}
                {% if subject.data[i].mime %}
                     {% if 'image' in subject.data[i].mime %}
                        <img src="data:image;base64,{{subject.data[i].base64}}" height="100" width="100"> <br>
                        <a href="./link?id={{i}}">link</a><br> 
                     {% else %}
                         link to file here. 
                     {% endif %}
                {% else %}
                    <b>name:</b> {{subject.subject_types_data[i].name}} -- <b>value: </b>{{subject.data[i]}} <br>
                {% endif %}
              {% endfor %}
            {% endif %}
              </div>
        
    </td>
</tr>
</table>

</form>
{% endblock %}