{% extends "user_content.html" %}
{% block content_body %}




<div class="container">
<h2>View Subject: {{subject.name}} </h2>
<div class="msg">{{msg}}</div>

 <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">{{subject.name}}</a></li>
    <li><a href="../../samples/{{subject.id}}/add_from_subject">Add sample</a></li>
    <li><a data-toggle="tab" href="#Diagnosis">Diagnosis</a></li>
    <li><a data-toggle="tab" href="#Research_Studies">Research Studies</a></li>
    <li><a data-toggle="tab"  href="#Samples">Samples</a></li>
    <li><a href="./edit">Edit</a></li>
    <li><a href="../../subjects/list">View Subjects</a></li>
  </ul>

<div class="tab-content">
    
    <div id="home" class="tab-pane fade in active">
        <br>
        <b>ID:</b> {{subject.id}} <br>
        <b>Barcode:</b> {{subject.barcode}} <br>
        <b>Notes:</b> {{subject.notes}} <br> <br>
        
<h2> Extra Data </h2>

                        <div id= "og">
                            
                            {% if subject.data %}
                            <table id="extra_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead><tr><th>Name</th><th>Value</th></tr></thead>
                              {% for i in subject.data%}
                                <tr>
                                {% if subject.data[i].mime %}
                                     {% if 'image' in subject.data[i].mime %}
                                        <td><a href="./link?id={{i}}">{{subject.data[i].filename}}</a></td> 
                                        <td><img src="data:image;base64,{{subject.data[i].base64}}" height="100" width="100"> </tr>
                                        
                                     {% else %}
                                         <td>{{subject.data[i].mime}}</td>
                                         <td><a href="./link?id={{i}}">{{subject.data[i].filename}}</a></td> 
                                     {% endif %}
                                {% else %}
                                    <td>{{subject.subject_types_data[i].name}} </td> <td>{{subject.data[i]}} </td>
                                {% endif %}
                                </tr>
                              {% endfor %}
                              </table>
                            {% endif %}
                            
                              </div>
                        

                <br>
                <a href="./edit"> Edit {{subject.name}}</a>
                <br>
                <a href="../../samples/{{subject.id}}/add_from_subject"> ADD Sample</a>
                
    </div>
    
    <div id="Diagnosis" class="tab-pane fade">
        
        <form method="POST" action="/subjects/{{subject.id}}/delete_diagnosis">
        <hr><b>Diagnosis</b> <br>
        
            <div style="float:left;">
              <input type="submit" name="method" value="Delete"/>
            </div>
            
            <div style="float:right;">
              <input type="button" name="method" value="Add Diagnosis" onclick="location.href='/subjects/{{subject.id}}/add_diagnosis'"/>
            </div>
           
        <table class="table table-hover">
        {% for d in diagnoses %}
        
        <tr bgcolor="#A8A0A1"><td>{{d.diagnosis_name}}</td> <td><input type="checkbox" name="diagnosis_ids" value="{{d.diagnosis_id}}"> </td> </tr>
        <tr><td>Is this primary?</td><td>{{d.diagnosis_is_primary}} </td></tr>
        <tr><td>Days from primary:</td><td>{{d.diagnosis_days_from_primary}} </td></tr>
        <tr><td>Diagnosis recorded by:</td> <td>{{d.diagnosis_recorded_by}} </td></tr>
        <tr><td>Diagnosis recorded date:</td> <td>{{d.diagnosis_recorded_date}} </td></tr>
        
        {% endfor %}
        
        
        </table>
        
        </form>
    </div>
    
    <div id="Research_Studies" class="tab-pane fade">

        <hr><b>Research Studies</b><br>
        <form method="POST" action="/subjects/{{subject.id}}/delete_study">
            <div style="float:left;">
              <input type="submit" name="method" value="Delete"/>
            </div>
            
            <div style="float:right;">
              <input type="button" name="method" value="Add Study" onclick="location.href='/subjects/{{subject.id}}/add_study'"/>
            </div>
        
        <table class="table table-hover">
        {% for ss in subject_study %}
        <tr bgcolor="#A8A0A1"><td>{{ss.research_study_name}} </b></td> <td><input type="checkbox" name="study_ids" value="{{ss.research_study_study_id}}"> </td> </tr>
        <tr><td>Research Study recorded by:</td><td> {{ss.research_study_username}} </td></tr>
        <tr><td>Research Study date:</td><td> {{ss.research_study_date}} </td></tr>
        {% endfor %}
        </table>
        </form>
    </div>    
        

 <div id="Samples" class="tab-pane fade">
        <h2>View Samples </h2>
        <table class="table table-hover">
        <tr>
           <td class="col-lg-7"><div id="treeview" class=""></div></td>
           <td class="col-lg-5"><div id="data_out" name="data_out"></div></td>
        </tr>
            
        </table>
     </div>
 
    </div>  
</div> <!-- end container !-->

<script>
$(document).ready(function() {

$('#extra_table').dataTable( {
  "searching": false,

"paging": false,
"bLengthChange": false,
"bInfo": false,
"bAutoWidth": false
} );


   
} );
</script>

<script>
   
  		$(function() {

        var defaultData = [
			
			{% set lastIndent = 1%}
{% set done = -1 %}
{% set count = 1 %}
{% set nodes = [1] %}

{% for s in samples %}
{% set lastIndent = s.indent%}
		 {% if s.indent == 1 and done == -1%}
			{% set count = s.indent %}
			{% set done =  done + 1 %}
			{text: '{{s.child}} {{s.name}}',
			href: '',
			tags: [''] 
		  {% elif s.indent > count %}
			{% set count = s.indent %}
			{% if nodes.append(nodes.pop() + 1) %}{% endif %}
			    ,nodes: [
			    {text: '{{s.child}} {{s.name}}',
			     href: '#',
			     tags: ['']
		  {% elif s.indent == count %}
		      },{text: '{{s.child}} {{s.name}}',
			     href: '#',
			     tags: ['']
				 
		  {% elif s.indent < count %}
		       {% set count = s.indent %}
			           {% if nodes.append(nodes.pop() - 1) %}{% endif %}
					       }]},
					{% for n in range(nodes[0]-s.indent) %}
			               ]},
						{% if nodes.append(nodes.pop() - 1) %}{% endif %}
						
				     {% endfor %}
				 
					{text: '{{s.child}} {{s.name}}',
					href: '#',
					tags: [''] 
		 
		 {% elif done != 1 %}
		    {% set done = 1 %}
			{% set count = 1 %}
			{% set node = 1 %}
			}, 
		 
		 {% endif %}
			
{% endfor %}

{% if nodes[0] > lastIndent%}
}] }
	{% for n in range(nodes[0]-lastIndent-1) %}
            ] }
	{% endfor %}
{% else %}
}
{% endif %}
		
];		

// design the tree view here  
        $('#treeview').treeview({
          color: "#428bca",
          enableLinks: true,
          data: defaultData,
		  showTags: true,
		  enableLinks: false,
		  highlightSelected: false
        });

// do ajax to get extra data here.





var initSelectableTree = function() {
          
		  var txt = '<table id="extra_table" class="table table-striped table-bordered" cellspacing="0" width="50%"><thead><tr><th>Name</th><th>Value</th></tr></thead>';
		  
		  
		  
		  
		  
		  return $('#treeview').treeview({
            data: defaultData,
            multiSelect: $('#chk-select-multi').is(':checked'),
            onNodeSelected: function(event, node) {
              
			var txt = '<table id="extra_table" class="table table-striped table-bordered" cellspacing="0" width="50%"><thead><tr><th>Name</th><th>Value</th></tr></thead>';
			   // begin ajax
			  $.getJSON('/samples/a_sample', {
          sample: node.text  }, // set as variables
          function(data) {
				
				console.log(data.result)
				info = data.result[5]; 
				schema = data.result[6]; 
				for (var x in schema) {
					//alert(result[x].name)
					//alert(info[x])
					info_data = info[x]
					if (info_data.mime !== undefined) {
						mime = info_data.mime
						if (mime.indexOf('image')>=0) {
                            temp = '<a href="../../samples/'+data.result[0]+'/link?id='+x+'">'+info_data.filename+'</a><br>';
							info_data = temp+'<img src="data:image;base64,'+info_data.base64+'" height="100" width="100">'
                        }
						else {
							info_data = '<a href="../../samples/'+data.result[0]+'/link?id='+x+'">'+info_data.filename+'</a>'
						}
                        
                    }
					txt = txt+'<tr><td>'+schema[x].name+'</td><td>'+info_data+'</td> <tr>'
				}
			txt += '</table>'	
			$('#data_out').html(txt); 	
        }); 
     
        
        return false;
			  
			  
			 // end AJAX
			  
			  
			  
			 },
           });
		
			    
		
		
        };


var $selectableTree = initSelectableTree();

        var findSelectableNodes = function() {
          return $selectableTree.treeview('search', [ $('#input-select-node').val(), { ignoreCase: false, exactMatch: false } ]);
        };
        var selectableNodes = findSelectableNodes();

        $('#chk-select-multi:checkbox').on('change', function () {
          console.log('multi-select change');
          $selectableTree = initSelectableTree();
          selectableNodes = findSelectableNodes();          
        });

        // Select/unselect/toggle nodes
        $('#input-select-node').on('keyup', function (e) {
          selectableNodes = findSelectableNodes();
          $('.select-node').prop('disabled', !(selectableNodes.length >= 1));
        });

        $('#btn-select-node.select-node').on('click', function (e) {
          $selectableTree.treeview('selectNode', [ selectableNodes, { silent: $('#chk-select-silent').is(':checked') }]);
        });

        $('#btn-unselect-node.select-node').on('click', function (e) {
          $selectableTree.treeview('unselectNode', [ selectableNodes, { silent: $('#chk-select-silent').is(':checked') }]);
        });

        $('#btn-toggle-selected.select-node').on('click', function (e) {
          $selectableTree.treeview('toggleNodeSelected', [ selectableNodes, { silent: $('#chk-select-silent').is(':checked') }]);
        });


  		});
  	</script>  
   
</script>




{% endblock %}