{% extends "user_content.html" %}
{% block content_body %}

  <h2>Here are the Sample Types</h2>
<div class="msg">{{msg}}</div>

<form method="POST" action="/sample_types/state">
<div>
    <div style="float:left;">
      
      <input type="submit" name="method" value="Disable"/>
      <input type="submit" name="method" value="Enable"/>
    </div>

<div style="float:right;">
      <input type="button" name="method" value="Add Sample Type" onclick="location.href='/sample_types/add'"/>
    </div>

  </div>
<br>


<table id="subject_tables" class="table table-striped table-bordered" cellspacing="0" width="100%">
<thead>
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Project id</th>
    <th>Project name</th>
    <th>Description</th>

    <th>Edit</th>
    <th></th>
    
</tr>
</thead>

{% for rs in sample_types %}

    {% if rs.is_active == true %}
            <tr>
        {% else %}
            <tr class="notactive">
        {% endif %}

    <td>{{rs.id}}</td>
    <td>{{rs.name}}</td>
    <td>{{rs.project_id}}</td>
    <td>{{rs.project_name}}</td>
    <td>{{rs.description}}</td>
    
    
    <td> <a href="/sample_types/{{rs.id}}/edit"> Edit </a></td>
    <td><input type="checkbox" name="sample_types_id" value="{{rs.id}}"> </td>
</tr>

{% endfor %}

</table>
<div id="newSearchPlace"> SEARCH HERE </div>
</form>

<script>
$(document).ready(function() {

$('#subject_table').dataTable( {
  "searching": true,
"pageLength": 50,
"paging": false
} );

$("#newSearchPlace").html($(".dataTables_filter"));
   
} );
</script>

{% endblock %}