{% extends "layout.html" %}
{% block body %}
<div class="sidebar">
<div class="title">Settings</div>

<ul>
<li class="header">User settings</li>
<li><a href="/settings/global/{{g.user.id}}/user_edit">Edit profile</a></li>



<li class="header">Project settings</li>
<li>Project info</li>
<li class="sep">&nbsp;</li>
<li>Subject types</li>
<li>Diagnoses</li>
<li>Research Studies</li>
<li class="sep">&nbsp;</li>
<li>Sample types</li>
<li class="sep">&nbsp;</li>
<li>Project groups</li>
<li>Audit log</li>


<li class="header">Global settings</li>
<li><a href="/settings/global/users">Users</a></li>
<li><a href="/projects/list">Projects</a></li>
<li><a href="/projects/add">Add Project</a></li>
<li><a href="/groups/list">Groups</a></li>
<li><a href="/groups/add">Add Groups</a></li>
<li><a href="/groups/user_group">Associate user with a group</a></li>
<li class="sep">&nbsp;</li>
<li>Global audit log</li>

</ul>

</div>
<div class="sidebody">
{% block adminbody %}{% endblock %}
</div>

{% endblock %}
