body {
    background-color: #fff;
    margin: 0;
}

.right {
    float: right;
}

.topbar {
    background-color:#000;
    color: #fff;
    margin:0;
    padding: 12px 16px;
}

.topbar a {
    color: #fff;
}

.body {
    clear: both;
    overflow:auto;
}

.footer {
    border-top: 1px solid #555;
    padding: 8px 12px;
    margin-top:24px;
}

.modal {
    border: 1px solid #555;
    background-color: #ddd;
    padding: 8px 12px;
    margin-top:24px;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
}

.modal .title {
    font-weight: bold;
    font-size: 14pt;

}


.sidebar {
    width: 250px;
    float:left;
    border-right: 1px solid #ccc;
    padding: 24px;
}

.sidebar .title {
    font-weight: bold;
    font-size: 14pt;
}

.sidebar ul {
    padding: 0;
    margin:0;
}

.sidebar li {
    list-style: none;
    padding-left: 16px;
}

.sidebar li.sep {
    margin-top: 3px;
    padding-bottom: 3px;
    height: 1px;
}

.sidebar li.header {
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 8px;
    padding-left: 0;
    text-decoration: underline;
}


.sidebody {
    border-left: 1px solid #ccc;
    margin-left: 298px;
    padding: 24px 36px;
}

.sidebody .title {
    font-weight: bold;
    font-size: 14pt;
}

table.list {
    width: 100%;
}

table.list th {
    text-align:left;
    font-weight: bold;
    background-color: #ccc;
}

table.list .disabled {
    background-color: #ccc;
    font-style: italic;
}

table.item_view th{
    text-align:left;
    font-weight: bold;
    background-color: #ccc;
    padding:8px;

}

.projectIndent {
    background-color: #505050 ;
    width: 40px;
}

.projectSpan {
    width: 40px;
}

form {
    margin: 0;
    padding: 0;
}


.notactive{
    text-decoration: line-through;
    color: red;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
    
}

.msg{
    font-weight: bold;
    color: green;
}

ul.msg {
    background-color: #d9edf7;
    padding: 0;
    margin: 0;
}

.msg li {
    list-style: none;
    padding:8px 12px;
}



.loc_table{
    width:100%; 
    border-collapse:collapse; 
}

.loc_table td{ 
    padding:7px; border:#4e95f4 1px solid;
}


.cell:hover{
background: #f0f0f5; 
}

.cell_forward{
    background: #f2f2f2; 
}





