body {
    background-color: #fff;
    margin: 0;
}

.right {
    float: right;
}

.topbar {
    background-color:#000;
    color: #fff;
    margin:0;
    padding: 12px 16px;
}

.topbar a {
    color: #fff;
}

.body {
    clear: both;
    overflow:auto;
}

.sidebar {
    width: 192px;
    float:left;
    border-right: 1px solid #ccc;
    padding: 24px;
}

.sidebar .title {
    font-weight: bold;
    font-size: 14pt;
}

.sidebar ul {
    padding: 0;
    margin:0;
}

.sidebar li {
    list-style: none;
    padding-left: 16px;
}

.sidebar li.sep {
    margin-top: 3px;
    padding-bottom: 3px;
    height: 1px;
}

.sidebar li.header {
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 8px;
    padding-left: 0px;
    text-decoration: underline;
}


.sidebody {
    border-left: 1px solid #ccc;
    margin-left: 240px;
    padding: 24px 36px;
}

.sidebody .title {
    font-weight: bold;
    font-size: 14pt;
}

table.list {
    width: 100%;
}

table.list th {
    text-align:left;
    font-weight: bold;
    background-color: #ccc;
}

.submitLink {
  background-color: transparent;
  text-decoration: underline;
  border: none;
  color: green;
  cursor: pointer;
}

submitLink:focus {
  outline: none;
}

.projectIndent {
    background-color: #505050 ;
    width: 40px;
}

.projectSpan {
    width: 40px;
}

