{% extends "base.html" %}
{% block content %}


{% if name %}

  <br>
  <div><span class="generalHi">You are logged in as: {{ name }} </span> 
  ::  <span><a href='./logout'> logout now </a></span>
  </div>
  <br>

<div class="row">
    <div class="col-lg-2" ></div>
    <!-- everything is contain in with col-lg-8 --> 
    <div class="col-lg-8" >

    <span class="generalHi"> Inputing a new subject (id's are automatically created)  </span>
    <br> <br>
    <!-- begin generating fields for input -->         
             <div class="row">
                <div class="col-lg-12" style="background-color:#f2f1eb;">
                 To select multiple options hold down the Ctrl key and select with your mouse.  If you do not see an option listed you can add this by inserting into the respected table. 
               </div>
            </div><br>


    <form role="form" id="subject-form" action = "/insert_subject" class="form-horizontal" method="get">
      
         <div class="form-group">
            <label class="control-label col-lg-3" for="age">Enter Age </label>
            <div class="col-lg-3"><input type="text" class="form-control" id="age" name = "age" placeholder="Age in digits only"></div>
            <label class="control-label col-lg-3" for="sex">Sex</label>
                  <div class="col-lg-3">
                     <select class="form-control" id="sex" name = "sex">      
                     <option value = "M"> male </option>  
                     <option value = "F"> female </option>
                     <option value = "UNK"> unknown </option>
                     <option value = "OTHER"> other </option>
                     </select>
                  </div>
         </div>
                
    <!-- consent & project --> 
        <div class="form-group">
                  <label class="control-label col-lg-3" for="consent">Consent  </label>
                  <div class="col-lg-3">
                    <select class="form-control" id="consent_name" name = "consent_name" multiple>      
                        {% for tags in consentSearch %}
                         <option value="{{tags[0]}}"> {{tags[1]}} </option>
                         {% endfor %} 
                    </select>
                    </div>
                
                  <label class="control-label col-lg-3" for="project">Project </label>
                  <div class="col-lg-3">
                    
                         <select class="form-control" id="project_name" name = "project_name" multiple>      
                         {% for tags in projectSearch %}
                             <option value="{{tags[0]}}"> {{tags[1]}} </option>
                         {% endfor %} 
                         </select>
                  </div>
        </div>
    <!-- diagnosis & date of collection --> 
             <div class="form-group">
                  <label class="control-label col-lg-3" for="age"> Diagnosis </label>
                  <div class="col-lg-3">
                         <select class="form-control" id="diagnosis_name" name = "diagnosis_name" multiple>      
                         {% for tags in diagnosisSearch %}
                             <option value="{{tags[0]}}"> {{tags[1]}} </option>
                         {% endfor %}   
                         </select>
                  </div>
                
                  <label class="control-label col-lg-3" for="datec">Date Collection </label>
                  <div class="col-lg-3"><input type="text" id="datec" name="datec"></div>
            </div>
    <!-- additional notes -->
            <div class="form-group">
          <label for="notes" class="control-label col-lg-3"> Notes:</label>
          <div class="col-lg-9"><textarea class="form-control" rows="5" id="notes"  name="notes" placeholder="additional notes?" ></textarea></div>
            </div>



<button type="submit" class="btn btn-default" id="insert1" name="insert1" value=1>Insert and View </button>
<button type="submit" class="btn btn-default" id="insert2" name="insert2" value=1>Insert and Repeat </button>

<input type="hidden" id="action" name="action" value="1">
</form>
    </div> <!-- ending big 8 division -->
        
    <div class="col-lg-2" ></div>

</div> 


<!-- javascript -->
<script>

      // set date and default today
      $('#datec').datepicker();
      $('#datec').datepicker().datepicker('setDate', new Date());
      

        // validate age, project and consent 

        $('#subject-form').validate({
            rules: {
                age: {number: true,required: true},
                project_name: {required: true},
                consent_name: {required: true},
                diagnosis_name: {required: true}
            },
            success: function (element) {
                element.text('good').addClass('valid')
                .closest('.form-group').removeClass('error').addClass('success');
                }
            }); // end validation

 

    // when submit is clicked.
    $('#insert2').click(function() {
     $('#action').val("2");
    });

  </script>


 
  {% else %}
  <h1>You need to login or create an account dude</h1>
  <a href='./login'> login here </a>
{% endif %}



 
   
{% endblock %}
